<header class="cabecera">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">

  <div class="logo logo-con-modelo">
  <model-viewer 
    src="/public/img/dog-bowl.glb" 
    auto-rotate 
    camera-controls 
    disable-zoom 
    style="width: 60px; height: 60px; margin-right: 10px;">
  </model-viewer>
  <div class="logo-texto">
    <h1><a href="/index.html" style="text-decoration: none; color: black;">PetEats</a></h1>
    
    <p>Consiente a tu mascota</p>
  </div>
</div>


  <nav class="menu">
    <ul>
      <li><a href="/index.html">Inicio</a></li>
      <li><a href="/public/pages/Productos/Index.html">Productos</a></li>
      <li><a href="/public/pages/Nosotros/Index.html">Nosotros</a></li>
      <li><a href="/public/pages/Contacto/Index.html">Contacto</a></li>
    </ul>
  </nav>
  <div class="iconos-header">
    <div class="menu-hamburguesa" onclick="toggleMenu()">☰</div>
  <i class="bi bi-search busqueda-toggle" style="font-size: 1.5rem; cursor: pointer;"></i>
  <input type="text" id="inputBuscar" placeholder="Buscar productos..." class="form-busqueda" />
  <a href="/public/pages/Carrito/Index.html" class="icono-carrito">
    <i class="bi bi-cart" style="font-size: 1.5rem;"></i>
  </a>
  <a href="/public/pages/Usuario/Index.html" class="icono-perfil">
    <i class="bi bi-person-circle" style="font-size: 1.5rem;"></i>
  </a>
</div>


</header>

